:root {
    --color-primary: rgb(0, 25, 69);
    --color-secondary: rgb(34, 54, 89);
    --color-divider: rgb(229, 229, 229);
    --color-light-gray: rgb(202, 202, 202);
    --color-dark-gray: rgb(126, 125, 125);
  }
  